html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  direction: rtl;
}
/* .checkbox,.form-floating>label{
  right: 0;
  left: 50% !important;
} */
.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label{
  margin-left: 60%;
}
.lav{
  margin-left: 50%;
}
.lav2{
  margin-left: 5%;
/* margin-top: 20% !important; */
}
.img{
  border-radius: 50%;
}
a{
  color: blue !important;
  display: inline;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  
}

.navbar,footer{
  display: none;
}
